
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:blue;
}
header, nav, section, footer{
    max-width: 1000px;
    margin:auto
    padding: 20px;
}
header{
    background-color:black;
    color: white;
    text-align: center;
}

header h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background:violet;
    text-align: center;
}

nav a{
    margin: 0 10px;
    text-decoration:dotted;
    color:white;
    font-weight: bold;
}

section{
    background:violet;
    margin-top: 15px;
    border-radius: 8px;
}

#projects ul{
    display: flex;
    gap: 10px;
    list-style:georgian;
}

#projects li{
    background:scroll;
    padding: 10px;
    border-radius: 6px;
    flex: 1;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea{
    padding: 8px;
    border-radius: 5px;
    border:violet;
}
button{
    background:navy;
    color:blueviolet;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
footer{
    text-align: center;
    background:violet;
    margin-top: 20px;
}

    nav a{
        display: block;
        margin: 8px 0;
    }
}